<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GradeChecker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>GradeChecker🧑‍🎓</h1>
        <p>Enter your mark and get your grade instantly!</p>
        <form method="POST" action="/">
            <input type="number" name="mark" placeholder="Enter your mark (0-100)" required>
            <button type="submit">Check Grade</button>
        </form>

        {% if grade %}
            <div class="result">Your Grade is : <span>{{ grade }}</span></div>
        {% endif %}
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
    </div>
</body>
</html>
